* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 2rem 1.5rem;
  margin-inline: auto;
  width: 100%;
  max-width: 1200px;
  padding-inline: 1rem;
}

.search__label {
  font-weight: 700;
  font-size: 1.25rem;
  color: #111;
}

.search__input {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

.movie {
  margin-block: 2.5rem;
  margin-inline: auto;
  width: 100%;
  max-width: 1200px;
  padding-inline: 1rem;
}

.movie__list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.movie__item {
  width: 300px;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
}

.movie__figure {
  object-fit: cover;
}

.movie__img {
  width: 300px;
  max-height: 426px;
}

.movie__info {
  padding: 1rem;
}

.movie__title {
  font-size: 1.5rem;
}

.movie__genre--list {
  display: flex;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.movie__genre--item {
  padding: 0.25rem 0.5rem;
  background-color: gray;
  color: #f1f1f1;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

.movie__description {
  color: #333;
}

.container {
  margin-block: 2rem 1.5rem;
  margin-inline: auto;
  width: 100%;
  max-width: 1200px;
  padding-inline: 1rem;
}

.back {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item__list {
  display: flex;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.item__list li {
  padding: 0.25rem 0.5rem;
  background-color: gray;
  color: #f1f1f1;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

@media screen and (min-width: 2048px) {
  body {
    zoom: 1.2;
  }
}

@media screen and (max-width: 970px) {
  .movie__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 670px) {
  .movie__list {
    grid-template-columns: 1fr;
  }

  .item {
    flex-direction: column;
    text-align: center;
  }

  .item__list {
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  .movie__item {
    width: 256px;
  }

  .movie__img {
    width: 256px;
  }
}
